html, body{
    height: 100%;
}

table {
    width: 100%;
    background-color: white;
  }
  
  td, th {
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: whitesmoke;
  }